<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>Accident Detail</h1>
<h3>{{accident.report_no}}</h3>
<h3>{{accident.police_office_province}}</h3>
<h3>{{accident.police_office_district}}</h3>
<h3>{{accident.no_of_vehicle_involved}}</h3>
<h3>{{accident.no_of_driver_involved}}</h3>
<h3>{{accident.no_of_passanger_involved}}</h3>
<h3>{{accident.no_of_pedestrian_involved}}</h3>
{% for vehicle in accident.vehicle_set.all %}
  <li>{{vehicle.vehicle_registration_no}}</li>
{% endfor %}
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Open streets maps javascript-->
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <!--Strating Css-->
    <link type="text/css" rel="stylesheet" href="./css/accidentDetail.css">
    <!--Open streets map-->
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css"
        type="text/css">
    <title>Accident Detail</title>
</head>

<body>
<div class="locationSelectOverlay">
<div class="mapbox">
    <div id="map">
    </div>
    <div id="currentlocationbutton">
        <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>my_location</title>
            <desc>Created with Sketch.</desc>
            <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Rounded" transform="translate(-169.000000, -3211.000000)">
                    <g id="Maps" transform="translate(100.000000, 3068.000000)">
                        <g id="-Round-/-Maps-/-my_location" transform="translate(68.000000, 142.000000)">
                            <g>
                                <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                                <path d="M12,8 C9.79,8 8,9.79 8,12 C8,14.21 9.79,16 12,16 C14.21,16 16,14.21 16,12 C16,9.79 14.21,8 12,8 Z M20.94,11 C20.48,6.83 17.17,3.52 13,3.06 L13,2 C13,1.45 12.55,1 12,1 C11.45,1 11,1.45 11,2 L11,3.06 C6.83,3.52 3.52,6.83 3.06,11 L2,11 C1.45,11 1,11.45 1,12 C1,12.55 1.45,13 2,13 L3.06,13 C3.52,17.17 6.83,20.48 11,20.94 L11,22 C11,22.55 11.45,23 12,23 C12.55,23 13,22.55 13,22 L13,20.94 C17.17,20.48 20.48,17.17 20.94,13 L22,13 C22.55,13 23,12.55 23,12 C23,11.45 22.55,11 22,11 L20.94,11 Z M12,19 C8.13,19 5,15.87 5,12 C5,8.13 8.13,5 12,5 C15.87,5 19,8.13 19,12 C19,15.87 15.87,19 12,19 Z" id="🔹-Icon-Color" fill="#1D1D1D"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
</div>
</div>
<div class="Adddataheader">Accident Detail</div>
    <div class="AddDetails">
        <div class="DataHeader">
            <div class="DataHeaderText">प्रहरी कार्यालय</div>
            <div class="DataBody">
                <div class="item">नाम<div class="normalinput" >{{accident.police_office_name}}</div></div>
                <div class="item">प्रदेश<div class="normalinput" > {{accident.police_office_province}}</div></div>
                <div class="item">जिल्ला<div class="normalinput" > {{accident.police_office_district}}</div></div>
            </div>
        </div>
        <div class="DataHeader">
            <div class="DataHeaderText">मिती</div>
            <div class="DataBody">
                <div class="item">गते<div class="normalinput" >{{accident.dayacci}}</div></div>
                <div class="item selectInside">महिना
                    <div>
                        <div class="selection">
                            बैसाख
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">बैसाख</li>
                                <li value="1">जेठ</li>
                                <li value="2">असार</li>
                                <li value="3">श्रवण</li>
                                <li value="4">भदौ</li>
                                <li value="5">असोज</li>
                                <li value="6">कर्तिक</li>
                                <li value="7">मंसिर</li>
                                <li value="8">पुस</li>
                                <li value="9">माघ</li>
                                <li value="10">फाल्गुन</li>
                                <li value="11">चैत्र</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">बर्स<div class="normalinput" >{{accident.yearacci}}</div></div>
                <div class="item">बार<div class="normalinput" >{{accident.day_of_week}}</div></div>
            </div>
        </div>
        <div class="DataHeader">
            <div class="DataHeaderText">समय</div>
            <div class="DataBody">
                <div class="item">घण्टा<div class="normalinput" > {{accident.houracci}}</div></div>
                <div class="item">मीनेट<div class="normalinput" >{{accident.minacci}}</div></div>
            </div>
        </div>
        <div class="DataHeader">
            <div class="DataHeaderText">दुर्घटना विवरण</div>
            <div class="DataBody">
                <div class="item">संलग्न सवारीको संख्या<div id="vehiclesnumber" class="normalinput" >{{accident.no_of_vehicle_involved}}</div></div>
                <div class="item">हताहात ड्राइभरको संख्या<div id="driversnumber" class="normalinput" >{{accident.no_of_driver_involved}}</div></div>
                <div class="item">हताहात यात्रुको संख्या<div id="travellersnumber" class="normalinput" >{{accident.no_of_passanger_involved}}</div></div>
                <div class="item">हताहात पैदल यात्रुको संख्या<div id="pedestriansnumber"class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item selectInside">दुर्घटनको गम्भीर्यत
                    <div>
                        <div class="selection">
                          {{accident.accident_seriousness}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">मृत्यु</li>
                                <li value="1">गंभीर घाइते</li>
                                <li value="2">साधारण घाइते</li>
                                <li value="3">क्षती मात्र</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">सवारी नियंत्रण
                    <div>
                        <div class="selection">
                          {{accident.vehicle_control}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">छैन</li>
                                <li value="1">केंद्र रेखा मात्र</li>
                                <li value="2">जेब्रा क्रासिंघ </li>
                                <li value="3">प्रहरी भएको</li>
                                <li value="4">ट्राफिक संकेत</li>
                                <li value="5">रोक, हेर र जाऊ</li>
                                <li value="6">अन्य</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">ठक्करको किसिम
                    <div>
                        <div class="selection">
                          {{accident.collision_type}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">अगाडि अगाडिबाट</li>
                                <li value="1">अगाडि पछाडि</li>
                                <li value="2">९०° कोडमा</li>
                                <li value="3">छेउबाट हिंडेको</li>
                                <li value="4">पल्टेको </li>
                                <li value="5">बाटोको बस्तुलाई हर्कांएको</li>
                                <li value="6">बाटोको बाहिरको बस्तुलाई हर्कांएको</li>
                                <li value="7">पार्क गरेको गडीलाई हिर्काएको</li>
                                <li value="8">बटुवालाई हिर्काएको</li>
                                <li value="9">जनावरलाई हिर्काएको</li>
                                <li value="10">अन्य</li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="DataHeader">
            <div class="DataHeaderText">सडकको अवस्था</div>
            <div class="DataBody">
                <div class="item selectInside">सडकको विवरण
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">सीधा र समम</li>
                                <li value="1">घुमउरो मात्र</li>
                                <li value="2">उकलो ओरालो मात्र</li>
                                <li value="3">घुमउरो र उकलो ओरालो</li>
                                <li value="4">पुल</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">सडकको सतह
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">पिच</li>
                                <li value="1">ग्राभेल</li>
                                <li value="2">माटो</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">सडकको अवस्था
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">राम्रो</li>
                                <li value="1">बिग्रेको</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">सतहको अवस्था
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">सुक्खा</li>
                                <li value="1">भिजको</li>
                                <li value="2">हिलो भएको</li>
                                <li value="3">पानी जमेको</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">सडक कार्य
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">छ</li>
                                <li value="1">छैन</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">हर्काएर भागेको
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">हो</li>
                                <li value="1">होइन</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">प्रकाश
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">दिन</li>
                                <li value="1">बत्ती निभेको</li>
                                <li value="2">बत्ती बालेको</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">मौसम
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">सफा</li>
                                <li value="1">पानी परेको</li>
                                <li value="2">कुहीरो/हूस्सु</li>
                                <li value="3">धुलो/धुवां</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">सवारी चल्ने
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">एक तर्फी</li>
                                <li value="1">दुई तर्फी</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">जंक्सनको किसिम
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">जंक्सन होइन</li>
                                <li value="1">Y</li>
                                <li value="1">+</li>
                                <li value="1">O</li>
                                <li value="1">T</li>
                                <li value="1">⅂</li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="DataHeader">
            <div class="DataHeaderText">ठाउँको विवरण</div>
            <div class="DataBody">
                <div class="item">सहर/गाउँको नाम<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item">स्थान<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item">लांगितउड<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item">ए्याटीट्यूड<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>

            </div>
        </div>
        <div class="DataHeader">
            <div class="DataHeaderText">कार्यालय प्रयोग</div>
            <div class="DataBody">
                <div class="item">सहर/गाउँको नंबर<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
            </div>
        </div>
        <div class="DataHeader">
            <div class="DataHeaderText">सडकको विवरण</div>
            <div class="DataBody">
                <div class="item">सडक नंबर<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item">कि. मी. <div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
            </div>
        </div>
        <div class="DataHeader">
            <div class="DataHeaderText">प्रहरीको विवरण</div>
            <div class="DataBody">
                <div class="item">अनुसंधान अधिकृत नाम<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item">अनुसंधान अधिकृत दर्जा<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item">पुनरावलोकन अधिकृत नाम<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item">पुनरावलोकन अधिकृत दर्जा<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item">सिफारिश भएको कारबाही<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item">साक्षीहरु<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item">अन्य जानकारी<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
            </div>
        </div>
        <div class="DataHeader" id="vehicledata1">
            <div class="DataHeaderText">गाडी नंबर </div>
            <div class="DataBody">
                <div class="item">सवारी दर्ता नंबर<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item">सवारी धनिको नाम<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item">सवारी धनिको ठेगाना<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item selectInside">तेस्रो पक्ष बीमा
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">छ</li>
                                <li value="1">छैन</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">निर्माता कंपनी<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item selectInside">सवारीको किसिम
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">बाईसाइकिल</li>
                                <li value="1">रिक्शा</li>
                                <li value="2">मोटरसाइकिल</li>
                                <li value="3">अटोरिक्शा</li>
                                <li value="4">कार</li>
                                <li value="5">पीक अप</li>
                                <li value="6">मिनीबस</li>
                                <li value="7">बस</li>
                                <li value="8">ट्रक</li>
                                <li value="9">अन्य</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">सवारीको गतिबिधी
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">दायाँ घूमेको</li>
                                <li value="1">बायाँ घूमेको</li>
                                <li value="2">U-घूमेको</li>
                                <li value="3">क्रस ट्राफिक</li>
                                <li value="4">मिल्ने कार्य</li>
                                <li value="5">छुट्टिने कार्य</li>
                                <li value="6">उछिन्ने कार्य</li>
                                <li value="7">अगाडि गुडीरहेको</li>
                                <li value="8">पक्षडी गुडीरहेको</li>
                                <li value="9">एक्कासी स्टार्ट</li>
                                <li value="10">एक्कासी रोकेको</li>
                                <li value="11">सडक बाहिर पार्क</li>
                                <li value="12">सडकमा पार्क</li>
                                <li value="13">अन्य</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">भारिको विवरण
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">ठीक कानून मेल्डो</li>
                                <li value="1">बड़ी भारी</li>
                                <li value="2">असुरक्षित भारी</li>
                                <li value="3">गडिबाट बाहिर निस्केको भारी</li>
                                <li value="4">अन्य नामेल्डो भार</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">त्रुटिहरु
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">छैन</li>
                                <li value="1">ब्रेकहरु</li>
                                <li value="2">स्तेरिंग</li>
                                <li value="3">टायरहरु</li>
                                <li value="4">बत्तीहरु</li>
                                <li value="5">एकभन्दा बढी</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">धनिको किसिम
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">सरकारी</li>
                                <li value="1">संस्थान</li>
                                <li value="2">कूटनैतिक</li>
                                <li value="3">निजी/ब्यक्तिगत</li>
                                <li value="4">भाडा</li>
                                <li value="5">प्रहरी</li>
                                <li value="6">सैनिक</li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="DataHeader" id="driverdata1">
            <div class="DataHeaderText">चालक नंबर</div>
            <div class="DataBody">
                <div class="item">चालकको नाम<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item">चालकको ठेगाना<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item">चालक अनुमति नंबर<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item">बितरण गर्ने कार्यालय<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item selectInside">लिंग
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">पुरुष</li>
                                <li value="1">महिला</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">उमेर<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item selectInside">चालकको गल्ती
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">छैन</li>
                                <li value="1">ध्यान नभएको</li>
                                <li value="2">अति छिटो</li>
                                <li value="3">अति नजिक</li>
                                <li value="4">संकेत नभएको</li>
                                <li value="5">गलत तरिकले उछिनेको</li>
                                <li value="6">गलत घुमाई</li>
                                <li value="7">थकान/निंद्रा</li>
                                <li value="8">अन्य</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">चालक अनुमति पत्र
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">पूर्ण चालक अनुमति</li>
                                <li value="1">परीक्षण कल</li>
                                <li value="2">अस्थायी चालक अनुमति</li>
                                <li value="3">अनुमति नभएको</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">चालक घाइते किसिम
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">मृतयुजनक</li>
                                <li value="1">गंभीर घाइते</li>
                                <li value="2">साधारण घाइते</li>
                                <li value="3">घाइते नभएको</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">रक्सी सेवन
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">संका नलागेको</li>
                                <li value="1">संका भएको</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">सितपेटी/हेल्मेट प्रयोग भएको
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">छ</li>
                                <li value="1">छैन</li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="DataHeader" id="travellerdata1">
            <div class="DataHeaderText">हाताहात यात्रु </div>
            <div class="DataBody">
                <div class="item">यात्रुको नाम<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item">यात्रुको ठेगाना<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item">गाडी नंबर<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item selectInside">लिंग
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">पुरुष</li>
                                <li value="1">महिला</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">उमेर<div class="normalinput" ></div></div>
                <div class="item selectInside">गम्भीर्यता
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">मृत्यु</li>
                                <li value="1">गंभीर घाइते</li>
                                <li value="2">साधारण घाइते</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">यात्रुको स्थिति
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">अगाडिको सीट</li>
                                <li value="1">पछाडिको सीट</li>
                                <li value="2">मोटर/साइकिल यात्रु</li>
                                <li value="3">बस यात्रु</li>
                                <li value="4">बाहिर बसेको</li>
                                <li value="5">बाहिर उभिएको</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">यात्रुको गतिभीधी
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">छैन</li>
                                <li value="1">चाड्दै गरेको</li>
                                <li value="2">ओर्लदै गरेको</li>
                                <li value="3">खसेको</li>
                                <li value="4">अन्य</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">सितपेटी/हेल्मेट
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">छ</li>
                                <li value="1">छैन</li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="DataHeader" id="pedestriandata1">
            <div class="DataHeaderText">हाताहात बटुवा </div>
            <div class="DataBody">
                <div class="item">बटुवको नाम<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item">बटुवको ठेगाना<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item selectInside">लिंग
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">पुरुष</li>
                                <li value="1">महिला</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">उमेर<div class="normalinput" >{{accident.no_of_pedestrian_involved}}</div></div>
                <div class="item selectInside">गम्भीर्यता
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">मृत्यु</li>
                                <li value="1">गंभीर घाइते</li>
                                <li value="2">साधारण घाइते</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">बटुवाको स्थिति
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">अगाडिको सीट</li>
                                <li value="1">पछाडिको सीट</li>
                                <li value="2">मोटर/साइकिल यात्रु</li>
                                <li value="3">बस यात्रु</li>
                                <li value="4">बाहिर बसेको</li>
                                <li value="5">बाहिर उभिएको</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">बटुवाको गतिभीधी
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">छैन</li>
                                <li value="1">बातों कट्दै</li>
                                <li value="2">बीच बाटोमा हिंडदै</li>
                                <li value="3">बाटो छेउ हिंडदै</li>
                                <li value="4">बाटोमा खेलीरहेको</li>
                                <li value="5">फुटपथमा</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">बाटोमा बटुवाको स्थान
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">जेब्रा क्रासिंगमा</li>
                                <li value="1">जेब्रा क्रासिंगको ५० मेटर भित्र</li>
                                <li value="1">बेचको आश्रय/मिडियन</li>
                                <li value="1">सी. नं. १ देखि ३ सम्म बहेकले सडकको बीच</li>
                                <li value="1">सडकबाट बाहिर बाटोमा/फुटपथमा</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selectInside">रक्सी सेवन
                    <div>
                        <div class="selection">
                          {{accident.no_of_pedestrian_involved}}
                        </div>
                        <div class="liConatiner">
                            <div class="liItems">
                                <li value="0">संका नलागेको</li>
                                <li value="1">संका भएको</li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="./js/adddata.js"></script>
</html>